{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}

    <div class="container">
      
      <div class="jumbotron">
        <h1>Faktiskt</h1>
        <p class="lead">Hej och välkommen!</p>
        <p class="follow">Här hittar du fakta för att bemöta felaktiga föreställningar om:</p>
        
      </div>
      <div id="nav-main">
      <ul class="nav nav-pills">
        <li class="col-md-3"><a href="/pang/jamstalldhet">Jämställdhet</a></li>
        <li class="col-md-3"><a href="/pang/miljo">Miljö</a></li>
        <li class="col-md-3"><a href="/pang/migration">Migration</a></li>
        <li class="col-md-3"><a href="/pang/ekonomi">Ekonomi</a></li>
        
      </ul>
      </div>
    

    
  </div>
{{ partial "footer.html" . }}
</body>
</html>
