{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}

  <div class="jumbotron">
    <div class="container">
      <h1>Mjaooooow!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
      diam lectus.  Sed sit amet ipsum mauris.  Maecenas congue ligula ac
      quam viverra nec consectetur ante hendrerit.</p>
      <p><a class="btn btn-primary btn-lg" href="/pang/om" role="button">Läs mer &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Jämställdhet</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="/pang/jamstalldhet" role="button">Läs mer &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Miljö</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="/pang/miljo" role="button">Läs mer &raquo;</a></p>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Migration</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="/pang/migration" role="button">Läs mer &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Ekonomi</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="/pang/ekonomi" role="button">Läs mer &raquo;</a></p>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}
</body>
</html>
